* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-chv-tat.chv-tat.dix -text
/apertium-chv-tat.chv-tat.lrx -text
/apertium-chv-tat.chv-tat.rlx -text
/apertium-chv-tat.chv-tat.t1x -text
/apertium-chv-tat.chv-tat.t2x -text
/apertium-chv-tat.tat-chv.lrx -text
/apertium-chv-tat.tat-chv.rlx -text
/apertium-chv-tat.tat-chv.t1x -text
/apertium-chv-tat.tat-chv.t2x -text
/autogen.sh -text
/configure.ac -text
corpus/chv-tat-nova.txt -text
corpus/chv-tat-origina.txt -text
corpus/corpus.chv.txt -text
corpus/corpus.tat.txt -text
/modes.xml -text
/qa.sh -text
test-scripts/all.test -text
test-scripts/chv-tat-corp.test -text
text/rasskaz.chv.txt -text svneol=unset#application/octet-stream
text/rasskaz.tat.0.txt -text svneol=unset#application/octet-stream
text/rasskaz.tat.1.txt -text svneol=unset#application/octet-stream
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
